body {
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
}

/* style color */


/* end style color */


/* style button, input */

/* end style button, input */

#s_clairblue {
    color: rgb(165, 207, 223);
}

#s_green {
    color: rgb(163, 207, 189);
}

#s_red {
    color: rgb(228, 63, 63);   
}

#bg_green {
    background: rgb(163, 207, 189);
    background-image: url(../img/bg/background6green.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#bg_blue {
    background: rgb(109, 169, 212);
    background-image: url(../img/bg/background6blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 span, h2 span {
    color: #e0dddd;
}

h1, h2 {
    background-color: #fff;
    font-size: 60px;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    text-transform: uppercase;
    border-radius: 0px 3px 3px 0px;
    padding: 16px 60px 5px 318px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
}

.p {
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 1.35;
    text-align: justify;
    z-index: -5;
}

header {
    min-width: 1280px;
    z-index: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.749);
    height: 60px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header nav ul a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

header nav ul a:hover {
    color: #fff;
}
header nav ul a li {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul a li.active {
    font-weight: 700;
    border-bottom: 3px solid white;
}

header nav ul a li.activites .menu {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin-left: 5px;
	border: 1px solid #fff;
	border-color: transparent transparent #fff transparent;
	border-width: 5px;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

header nav ul a li.activites .menu:hover, .menu:active {
    transform: rotate(180deg);
}

header #box-contact {
    background-color: rgba(0, 0, 0, 0.749);
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}

#phone {
    background-image: url('../img/icn_.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 7px;
}

header .box-header {
    color: white;
    margin: 10px 10px;
    display: inline-block;
}

header hr {
    width: 60px;
    color: #fff;
    
}

header #box-contact a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
}

button#sup-contact {
    background-color: rgb(23, 74, 110);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    clear: both;
    font-size: 14px;
    border: none;
    color: #fff;
    outline: none;
}

button#sup-contact:hover, button#sup-contact:active {
    box-shadow: 3px 3px 0px rgb(12, 55, 85);
}

section.sec {
    margin: auto;
   /* box-shadow: 5px 5px 20px #000; */
}

footer {
    background-color: rgb(56, 57, 68);
    width: 1280px;
    height: 680px;
    padding-top: 60px;
    color: #fff;
}

footer #container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

footer #container #logo {
    background-image: url('../img/logo_sil.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    height: 70px;
    background-size: 150px;
}

footer #container input {
    background-color: rgb(23, 74, 110);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    clear: both;
    font-size: 14px;
    border: none;
    color: #fff;
    width: 160px;
    outline: none;
}

footer #container button#v {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    background-image: url('../img/picto/send.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    border: 3px solid rgb(23, 74, 110);
    outline: none;
    transition: 0.5s;
}

footer #container button#v:active, footer #container button#v:hover {
    border-color: white;
}

footer .input-btn {
    display: flex;
    height: 40px;
    background: rgb(23, 74, 110);
    border-radius: 5px;
}

footer .input-btn:active, footer .input-btn:hover {
    box-shadow: 3px 3px 0px rgb(12, 55, 85);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff; 
    font-size: 14px;  
}

footer .container {
    
}

footer .un-footer {
    margin: 0px 60px;
}

footer #container span {
    border-right: 2px solid white;
    height:15px;
}
footer #footer-nav {
    display: flex;
    flex-direction: row;
}

footer #footer-nav .nav {
    max-width: 400px;
    margin: 50px;
    display: flex;
    align-content: flex-start;
}

footer #footer-nav .nav h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

footer #footer-nav .nav p {
    font-size: 14px;
}

footer #footer-nav .nav#navigation {
    display: flex;
    flex-direction: column;
}

footer #footer-nav .nav#navigation ul li {
    margin-bottom: 7px;
    font-size: 14px;
}

footer #footer-nav .nav#navigation ul li a {
    text-decoration: none;
    color: white;
    
}

footer #footer-nav .nav#contact {
    display: flex;
    flex-direction: column;
}

footer #footer-nav .nav#contact #number a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1279px){
    header {
        width: 100%;
        z-index: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.749);
        height: 60px;
    }
    
    header nav {
        width: 100%;
    }

    header nav ul {
        width: 100%;
    }
    header nav ul a li {
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
    ul.headerjs-nav {
        display: none;
    }
    
}


#resp {
    width: 100%;
    height: 90px;
    background: red;
}

@media screen and (max-width: 1279px){
    #resp {
        width: 600px;
        background: blue;
    }
}

@media screen and (max-width: 605px) {
    h1, h2 {
        padding: 0;
        width: 100%;
        text-align: center;
        padding: 16px 0px 5px 0px;
    }
    
    section#welcome #container-box {
        width: 100%;
    }
    
    section#welcome #container {
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width: 480px){
    #resp {
        width: 600px;
        background: green;
    }

    section#welcome #container-box p { 
    }

    section#welcome #container-box #price {
    }

    section#welcome #container-box #price span {
    }

    section#welcome #container-box #sup-contact {
    }
}