section#evenement {
    background-image: url(../img/bg/hot-air-balloons-439331_1920.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

section#evenement .container-box .form label[for='title'] {
    background-image: url('../img/event/ic_title_black_24px.svg');
}

section#evenement .container-box .form label[for='date-1'], label[for='date-2'] {
    background-image: url('../img/event/ic_today_black_24px.svg');
}

section#evenement .container-box .form label[for='message'] {
    background-image: url('../img/event/ic_event_note_black_24px.svg');
}

section#evenement .container-box #date span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}